* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto.ttf');
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Robotobold.ttf');
    font-weight: bold;
}

:root {
    --main: #030305;
    --white: #FFFFFF;
    --secondary: #5D5D5F;
    --light: #E5E5E5;
    --border: 1px solid #E5E5E5;
    --error: rgba(255, 0, 0, 0.8);
}

body {
    font-family: Roboto, sans-serif;
    background-color: #fff;
    color: var(--main);
    font-size: 16px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    border: 0;
    box-sizing: border-box;
    background: var(--main);
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 0.02em;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    cursor: pointer;
    transition: all 0.4s ease-out;
}

.btn:hover {
    background: var(--secondary);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.header .container {
    display: flex;
    align-items: center;
}

.header {
    padding: 25px 0;
    border-bottom: var(--border);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo-img {
    vertical-align: bottom;
}

.menu {
    margin-left: 244px;
}

.menu-list {
    list-style: none;
    display: flex;
}

.menu-item {
    margin-right: 115px;
}

.menu-link {
    font-size: 15px;
    color: var(--main);
    text-decoration: none;
    border-bottom: 1px solid var(--white);
    padding-bottom: 3px;
    transition: all 0.3s ease-out;
}

.menu-link:hover {
    color: var(--secondary);
    border-color: var(--main);
}

.main {
    background-image: url("../images/background.png");
    background-position: center;
    background-size: cover;
    padding: 104px 0 154px;
}

.main-info {
    max-width: 855px;
}

.main-title {
    font-weight: bold;
    font-size: 80px;
    line-height: 110%;
    margin-bottom: 40px;
}

.main-text {
    max-width: 502px;
    line-height: 130%;
    margin-bottom: 40px;
}

.main-btn {
    padding: 20px 47px;
}

.car-park {
    padding: 100px 0;
}

.sub-title {
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
}

.car-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.card {
    max-width: 384px;
    text-align: center;
    margin-top: 40px;
    letter-spacing: 0.02em;
}

.car-img {
    vertical-align: bottom;
    transition: all 0.3s ease-out;
}

.card-img:hover .car-img {
    transform: scale(1.1);
}

.card-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    padding: 15px 0 17px;
}

.card-body {
    display: grid;
    grid-template-columns: repeat(3, 110px);
    align-items: center;
    justify-content: center;
    grid-column-gap: 15px;
    margin-bottom: 13px;
}

.car-info-icon {
    margin-bottom: 11px;
}

.card-footer .btn,
.price-form .btn {
    display: block;
    width: 100%;
}

.btn-reserve {
    padding: 15px 0;
}

.btn-reserve:hover {
    background: var(--light);
    color: var(--main);
}

.car-info {
    line-height: 130%;
}

.car-info span {
    display: block;
    width: 100%;
    font-weight: bold;
}

.price {
    overflow: hidden;
}

.price .container {
    position: relative;
    padding-bottom: 121px;
}

.price-text {
    color: var(--secondary);
    line-height: 130%;
    padding-top: 20px;
    margin-bottom: 60px;
}

.price-form {
    max-width: 344px;
}

.btn-price {
    padding: 20px 0;
}

.form-input {
    width: 100%;
    background: var(--white);
    font-size: 16px;
    color: var(--main);
    border: var(--border);
    padding: 22px 18px;
    box-sizing: border-box;
    margin-bottom: 15px;
    outline: none;
    transition: all 0.3s ease-out;
}

.form-input.error {
    border-color: var(--error);
}

.form-input.error:focus {
    border-color: transparent;
    box-shadow: 0 0 3px var(--error);
}

.form-input::placeholder {
    color: var(--secondary);
}

.form-input:focus {
    border-color: transparent;
    box-shadow: 0 0 3px var(--secondary);
}

#inputs-error {
    color: var(--error);
    font-size: smaller;
    font-weight: bold;
    margin-bottom: 15px;
    line-height: 1.5;
}

.price-img {
    position: absolute;
    bottom: 0;
    left: 400px;
}

.footer {
    padding: 25px 0;
    border-top: var(--border);
}

.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rights {
    font-size: 15px;
}